<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div
        class ="update-user-container">
    <form action="/update-user" method="post">
    <form>
        <div>
            <%= JSON.stringify(dataUser) %>
            <label>First name: </label>
            <input name="Firstname" value="<%= dataUser.Firstname %>"/>
        </div>

        <div>
            <label>Last name:</label>
            <input name="Lastname" value="<%= dataUser.Lastname %>"/>
        </div>

        <div>
            <label>Email:</label>
            <input name="email" value="<%= dataUser.email %>"/>
        </div>

        <div>
            <label>Address:</label>
            <input name="Address" value="<%= dataUser.address %>"/>
        </div>

        <input type="text" value="<%= dataUser.Id %>" hidden name="Id" />
        <div>
            <button class="btn-save" type="submit">Save</button>
        </div>
        
    </form>
</div>
</body>
</html>